<section class="weather-display">
	<h1>Weather Update</h1>
	<div>Location: {{location}}</div>
	<div>Date: {{date}}</div>
	<div>Conditions: {{conditions}}</div>
	<div>Current Temp: {{showUnit unit temp}}</div>
	<div>Sunrise: {{sunrise}}</div>
	<div>Sunset: {{sunset}}</div>
</section>